<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>AngularJS form validation</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body ng-app="myApp">

    <style>
        .error {
            border: 1px solid red;
        }
    </style>

    <div class="container" ng-controller="formCtrl">
        <h3>AngularJS form validation without <code>&lt;form&gt;</code> tag</h3>

        <div class="form-group" ng-form="subForm">
            <label class="col-sm-2 control-label" ng-bind-html="question.label"></label>
            <input ng-class="{error: !isValidEmail}" class="form-control" type="text" ng-change="onChangeValidateEmail(email)" name="email" ng-model="email" required />
            <p style="color:red;" ng-show="!isValidEmail" class="help-block">Email is invalid.</p>
            <pre>$scope.email = {{ email }} </pre>

            <button ng-click="sendEmail(email)" ng-disabled="!isValidEmail">Send email</button>
        </div>

        <div class="checkboxes" ng-repeat="topic in checkboxesArray">
            <input type="checkbox" name="" ng-checked="topic.checked" ng-model="check" ng-change="selectChecked(topic.topic, check)">{{topic.topic}}
            <br>
        </div>
    </div>

    

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>


  <script>
  angular.module('myApp', [])
    .controller('formCtrl',function($scope) {
        $scope.email= '';
        $scope.isValidEmail = true;

        console.log($scope.isValidEmail);

        $scope.sendEmail = (email) => {
            console.log("Send email to : ", email);
        };

        $scope.onChangeValidateEmail = (email) => {
            let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            let reAngular = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            console.log("Email : ", email);

            if ( email === '' || re.test(String(email).toLowerCase()) ) {
                console.log('Email is valid');
                $scope.isValidEmail = true;
            } else {
                console.log('Email is invalid');
                $scope.isValidEmail = false;
            }
        };


        $scope.datas = [
            [10, 20, 30, 40, 50, 60],
            [11, 21, 31, 41, 51, 61],
            [12, 22, 32, 42, 52, 62],
            [13, 23, 33, 43, 53, 63],
        ];

        console.log("$scope.datas", $scope.datas);


        $scope.formatedArray = [];

        // $scope.formatedArray.push([ $scope.datas[0][0], $scope.datas[1][0], $scope.datas[2][0], $scope.datas[3][0] ]);
        // $scope.formatedArray.push([ $scope.datas[0][1], $scope.datas[1][1], $scope.datas[2][1], $scope.datas[3][1] ]);
        // $scope.formatedArray.push([ $scope.datas[0][2], $scope.datas[1][2], $scope.datas[2][2], $scope.datas[3][2] ]);
        // $scope.formatedArray.push([ $scope.datas[0][3], $scope.datas[1][3], $scope.datas[2][3], $scope.datas[3][3] ]);
        // $scope.formatedArray.push([ $scope.datas[0][4], $scope.datas[1][4], $scope.datas[2][4], $scope.datas[3][4] ]);

        // WORKING (PARTIAL SOLUTION)
        // for (let i=0; i<$scope.datas[0].length; i++) {
        //     $scope.formatedArray.push(
        //         [ 
        //             $scope.datas[0][i], 
        //             $scope.datas[1][i], 
        //             $scope.datas[2][i], 
        //             $scope.datas[3][i], 
        //         ]
        //     );
        // };

        for (let i=0; i<$scope.datas[0].length; i++) {
            $scope.formatedArray.push(
                [ 
                    $scope.datas[0][i], 
                    $scope.datas[1][i], 
                    $scope.datas[2][i], 
                    $scope.datas[3][i], 
                ]
            );
        };

        console.log("$scope.formatedArray", $scope.formatedArray);

        // Checkboxes array datas

        $scope.checkboxesArray = [
            {
                topic: "PLACE_ENTER",
                checked: true,
            },
            {
                topic: "PLACE_EXIT",
                checked: true,
            },
            {
                topic: "HOME_ENTER",
                checked: false,
            },
            {
                topic: "HOME_EXIT",
                checked: true,
            }

        ];

        $scope.selectChecked = function(topic, checked) {
            console.log("topic : " + topic + " checked : " + checked);

            $scope.checkboxesArray.forEach(element => {
                if (element.topic === topic) {
                    element.checked = checked;
                }
            });


            console.log("arrayinfuncupdated", $scope.checkboxesArray);
        };

        console.log("$scope.checkboxesArray", $scope.checkboxesArray);
    });
  </script>
</body>

</html>
