<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>AngularJS form validation</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body ng-app="myApp">

    <style>
        .error {
            border: 1px solid red;
        }
    </style>

    <div class="container" ng-controller="formCtrl">
        <h3>AngularJS form validation without <code>&lt;form&gt;</code> tag</h3>
        
        <div class="form-group" ng-form="subForm">
            <label class="col-sm-2 control-label" ng-bind-html="question.label"></label>
            <input ng-class="{error: !isValidEmail}" class="form-control" type="text" ng-change="onChangeValidateEmail(email)" name="email" ng-model="email" required />
            <p style="color:red;" ng-show="!isValidEmail" class="help-block">Email is invalid.</p>
            <pre>$scope.email = {{ email }} </pre>
            <pre style="color: green;" ng-if="isValidEmail">Email is valid</pre>

            <button ng-click="sendEmail(email)">Send email</button>
        </div>
    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <script>
  angular.module('myApp', [])
    .controller('formCtrl',function($scope) {
        $scope.email= '';
        $scope.isValidEmail = '';

        console.log($scope.isValidEmail);

        $scope.sendEmail = (email) => {
            console.log("Send email to : ", email);
        };

        $scope.onChangeValidateEmail = (email) => {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            console.log("Email : ", email);

            if ( re.test(String(email).toLowerCase()) ) {
                console.log('Email is valid');
                $scope.isValidEmail = true;
            } else {
                console.log('Email is invalid');
                $scope.isValidEmail = false;
            }
        };
    });
  </script>
</body>

</html>